h1
{
    background-color: red;
    min-width: 100px;
    width: 50%;
    height: 70px;
    color: white;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

p
{
    background-color: black;
    color:white;
    width: 350px;
    border: 1px solid red;
    text-align: justify;
    padding: 12px;
    margin: auto;
    margin-bottom: 20px;
    height: 110px;
    overflow: auto;
}
a:hover
{
    color:red;
}