h1
{
    background-color: grey;
    min-width: 100px;
    width: 50%;
    height: 150px;
}

p
{
    background-color: black;
    color:white;
    width: 250px;
    min-height: 70px;
    height: 30%;
}
a:hover
{
    color:red;
}