@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff2') format('woff2'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	background: url("../test/tp_images_polices/images/fond_jaune.png");
	width: 900px;
	text-align: center;
}

.NomPrenom
{
	font-weight: bold;
	font-size:2em;
	color:blue;
	font-family: 'open_sansbold', Impact, Arial, serif;
	margin-top: 0;
}
.NomPrenom:hover
{
	text-decoration: underline;
	color: red;
}
.titre
{
	font-size:1em;
	font-style:italic;
}

#page
{
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
}

.liseret
{
	background: url("../test/tp_images_polices/images/fond_rouge.png");
	width: 10px;
	margin-right: 30px;
}

#bloc_cv
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#bloc_information
{
	display: flex;
	justify-content:space-around;
}

#presentation
{
	display: flex;
	flex-direction: column;
}



/* EXPERIENCE */

.experience
{
	margin-right: 30px;
	width: 33%;
	border-radius: 10px;
	background-color: #B0FCCE;
	text-align: justify;
	position: relative;
	padding-top: 80px;
	box-shadow: 5px 5px 10px rgba(8,54,6,0.3);
	flex: 2.5;
}

.experience h2
{
	background-color: rgba(8,54,6,0.6);
	color: white;
	text-shadow: 3px 1px 5px black;
	text-align: center;
	font-family: 'open_sansbold', Impact, Arial, serif;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	top:0;
	
}

.experience p
{
	text-align: center;
	font-family: Arial, serif;	
}

.experience:hover
{
	border: 1px solid #0c2e02;
}

/* COMPETENCE */

.competence
{
	margin-right: 30px;
	border-radius: 10px;
	background-color: #fdcb8b;
	text-align: center;
	position: relative;
	padding-top: 80px;
	box-shadow: 5px 5px 10px rgba(101,54,6,0.3);
	flex: 1.8;
}

.competence h2
{
	background-color: rgba(101,54,6,0.6);
	color: white;
	text-shadow: 3px 1px 5px black;
	text-align: center;
	font-family: 'open_sansbold', Impact, Arial, serif;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	top:0;
	
}
.competence p
{
	text-align: center;
	font-family: Arial, serif;
}

.competence img
{
	width: 40px;
}

.competence:hover
{
	border: 1px solid #2e1902;
}

/* FORMATION */

.formation
{
	margin-right: 10px;
	width: 33%;
	border-radius: 10px;
	background-color: #8edcfd;
	text-align: justify;
	position: relative;
	padding-top: 80px;
	padding-right: 10px;
	box-shadow: 5px 5px 10px rgba(101,54,6,0.3);
	flex: 2;
}

.formation h2
{
	background-color: rgba(3,63,88,0.6);
	color: white;
	text-shadow: 3px 1px 5px black;
	text-align: center;
	font-family: 'open_sansbold', Impact, Arial, serif;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	top:0;
}

.formation:hover
{
	border: 1px solid #02212e;
}

ul
{ 
	text-align: left;
	font-family: Arial, serif;
	list-style-type: circle;
	line-height: 1.5;
}


