/* Resolution smartphone */

@media screen and (max-width: 600px)
{
	#bloc_page
    {
        width: auto;
        margin: auto;
    }

    /* Navigation */

	header
	{
		flex-wrap: wrap;
	}
	
    #logo
    {
 		margin-left:20px;
		order: 1;
    }
	
	#navigation
	{
		order: 3;
	}
	
	
	#inscription
	{
		margin-right: 20px;
		order: 2;
	}
	
    nav ol
    {	
		margin-left: auto; 
		margin-right: auto;
    }
		
	nav li
	{
		border-bottom: 2px #F2F2F2 solid;
		padding-bottom: 22px;
		justify-content: center;

	}
	
	nav li a:hover
	{
		color: #0065FC;
		border-top: 0px;
		border-bottom: 2px #0065FC solid;
		padding-bottom: 22px;
	}
	
    /*Recherche*/

	#recherche
	{
		margin-left: 20px;
	}
	
    #recherche h1
    {
        font-size: 1.3em;
    }

    #recherche p
    {
        font-size: 1em;
    }

    form
    {
        margin:auto;
    }

    button
    {
        width: 40px;
        padding-top: 0px;
    }

    .cache
    {
        display: none;
    }

    button i
    {
        visibility: visible;
        padding-right: 10px;
    }


    /* Filtres */

    #filtres
    {
        flex-direction: column;
        justify-content: flex-start;
    }

    .titre_filtres
    {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .box_filtres
    {
        justify-content: flex-start;
        flex-wrap: wrap;
    }



    /* Hebergement */

    #hebergement
    {
        flex-direction: column;
    }

    article
    {
        order: 2;
        flex: 1;
        background-color: white;
    }

    aside
    {
        order: 1;
        flex: 1;
    }

 
    .conteneur
    {
        height: auto;
        flex-direction: column;
        justify-content: space-around;
       
    }

    .vignette
    {
        width: 370px;
        margin: 5px 0px 10px 30px;
    }


    /* Activités */

    #activites
    {
        height: auto;
        margin: auto;
    }

    #activites h2
    {
        margin-left: 20px;
    }
    
    .marseille
    {
        height: auto;
        flex-direction: column;
    }

    .marseille1 figure
    {
        height: 200px;
        width: 370px;
        margin: auto;
        margin-bottom: 20px;
    }

    .marseille1 figure img
    {
        height: 80%;
    }

    .marseille2 figure
    {
        height: 200px;
        margin: auto;
        width: 370px;
        margin-bottom: 20px;
    }

    .marseille2 figure img
    {
        height: 80%;
    }


    /* Footer */

    .group_footer
    {
        flex-direction: column;
    }

}